<span class="layui-breadcrumb">
  <a href='#'>房屋管理</a>
  <a><cite> 小区列表</cite></a>
</span>
<table class="layui-hide" id="district" lay-filter="district"></table>
<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="insert">新增小区</button>
    </div>
</script>
<script type="text/html" id="bar">
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table','upload','layer'], function(){

        var table = layui.table;
        var layer = layui.layer;

        table.render({
            elem: '#district',
            url:'{:url("House/district")}',
            limit: '__PAGESIZE__',
            cellMinWidth: 50, //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            toolbar:'#toolbar',
            cols: [[
                // {checkbox: true, fixed: true},
                {field:'id',width:100,sort: true, align: 'center', title: 'ID'},
                {field:'name',edit: 'text',align: 'center', title: '小区名称'},
                {field:'ctime',sort: true,align: 'center', title: '创建时间'},
                {field:'right',toolbar: '#bar',align: 'center', title:'操作'},
            ]],
            page: true
        });
        //头工具栏事件
        table.on('toolbar(district)', function(obj){
            switch(obj.event){
                case 'insert':
                    layer.open({
                        type: 1
                        ,title: '新增小区' //不显示标题栏
                        ,closeBtn: false
                        ,area: '600px;'
                        ,shade: 0.8
                        ,id: 'modal-insert' //设定一个id，防止重复弹出
                        ,btn: ['确定', '关闭']
                        ,btnAlign: 'c'
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: '<form class="layui-form" style="margin-top: 10px" action="">\n' +
                        '  <div class="layui-form-item">\n' +
                        '    <label class="layui-form-label">小区名称</label>\n' +
                        '    <div class="layui-input-block">\n' +
                        '      <input id="district-modal-value" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入小区名称" class="layui-input">\n' +
                        '    </div>\n' +
                        '  </div>'
                        ,yes: function(){
                            $.post("{:url('districtAdd')}",{name:$("#district-modal-value").val()},function(data){
                                layer.msg(data.msg,{time:1000},function(){
                                    if(data.code==0) {
                                        table.reload('district', {page: {curr: 1},where: {}}, 'data');
                                        layer.closeAll();
                                    }
                                });
                            },'json');
                        }
                        ,success: function(layero){

                        }
                    });
                    break;

                //自定义头工具栏右侧图标 - 提示
                case 'LAYTABLE_TIPS':
                    layer.alert('这是工具栏右侧自定义的一个图标按钮');
                    break;
            };
        });

        //删除和修改
        table.on('tool(district)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            if(layEvent === 'del'){ //删除
                layer.confirm('确定要删除该小区信息吗?', function(index){
                    $.post("{:url('districtDel')}",{id:data.id},function(data){
                        layer.msg(data.msg);
                        if(data.code==0){
                            table.reload('district', {page: {curr: 1},where: {}}, 'data');
                        }
                    },'json');
                });
            }
        });

        //监听单元格编辑
        table.on('edit(district)', function(obj){
            var value = obj.value //得到修改后的值
                ,data = obj.data //得到所在行所有键值
                ,field = obj.field; //得到字段
            $.post("{:url('districtEdit')}",{id:data.id,name:value},function(data){
                layer.msg(data.msg);
                if(data.code!=0){
                    table.reload('district', {page: {curr: 1},where: {}}, 'data');
                }
            },'json');
        });

    });
</script>
