<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="hidden" name="system_id" value="{$data.system_id}">
            <input type="hidden" value="{$data.company_logo}" name="company_logo">
            <label class="layui-form-label">公司logo</label>
            <button type="button" class="layui-btn" id="myload">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">公司名称</label>
            <div class="layui-input-inline">
                <input type="tel" name="company_name" value="{$data.company_name}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">版权信息</label>
            <div class="layui-input-inline">
                <input type="tel" name="system_data" value="{$data.system_data}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">系统名称</label>
            <div class="layui-input-inline">
                <input type="tel" name="system_name" value="{$data.system_name}" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即修改</button>
        </div>
    </div>
</form>

<!-- 示例-970 -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form','layer','upload'], function(){
            var form = layui.form;
            var layer = layui.layer;
            var upload = layui.upload;

            //文件上传
            var uploadInst = upload.render({
                elem: '#myload' //绑定元素
                ,url: '{:url("System/systemUpload")}' //上传接口
                ,done: function(res){
                    //上传完毕回调
                    layer.msg(res.font,{icon:res.code});
                    if(res.code==1){
                        $('#logo').val(res.src);
                    }
                }
                ,error: function(){
                    //请求异常回调
                }
            });
            //监听提交
            form.on('submit(*)',function(data){
                $.post(
                        "{:url('System/systemUpdate')}",
                        data.field,
                        function(msg){
                            layer.msg(msg.font,{icon:msg.code});
                            if(msg.code==1){
                                location.href="{:url('System/systemList')}";
                            }
                        },'json'
                )
                return false;
            })
        });
    })

</script>
