
<table class="layui-hide" id="test" lay-filter="test"></table>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-xs" lay-event="detail">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
</script>
<script>
    layui.use(['table','layer'], function(){
        var table = layui.table;
        var layer = layui.layer;
        table.render({
            elem: '#test'
            ,url:'{:url("System/systemList")}'
            ,limit: 10
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,cols: [[
                ,{field:'system_id', title: '系统id',}
                ,{field:'company_logo',width:150,title:'公司logo',templet:'<div><img src="__PUBLIC__/{{d.company_logo}}"></div>'}
                ,{field:'company_name', title: '公司名称',}
                ,{field:'system_data', title: '版权信息',}
                ,{field:'system_name', title: '系统名称',}
                ,{field:'ctime',width:200, title: '添加时间'}
                ,{field:'right', width:150,toolbar: '#barDemo', title:'操作'}
            ]],
            page: true
        });

        //既点及改
        //监听单元格编辑
        table.on('edit(test)', function(obj){
            var value = obj.value //得到修改后的值
                    var data = obj.data //得到所在行所有键值
                    var field = obj.field; //得到字段
            $.post(
                    '{:url("Brand/brandUpdate")}',
                    {value:value,brand_id:data.brand_id,field:field},
                    function(msg){
                        layer.msg(msg.font,{icon:msg.code});
                    },'json'
            )
        });

        //删除和修改
        table.on('tool(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象

            if(layEvent === 'detail'){ //查看
                location.href="{:url('System/systemUpdateInfo')}?system_id="+data.system_id;
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){
                    $.post(
                            '{:url("System/systemDel")}',
                            {system_id:data.system_id},
                            function(msg){
                                layer.msg(msg.font,{icon:msg.code});
                                 if(msg.code==1){
                                 table.reload('test');
                                 }
                            },'json'
                    )
                });
            }
        })
    });
</script>