<form class="layui-form">
    <div class="layui-form-item">
        <div class="layui-inline">
            <input type="hidden" id="logo" name="banner_url">
            <label class="layui-form-label">轮播图上传</label>
            <button type="button" class="layui-btn" id="myload">
                <i class="layui-icon">&#xe67c;</i>上传图片
            </button>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即添加</button>
        </div>
    </div>
</form>
<script>
    $(function(){
        layui.use(['form','layer','upload'], function(){
            var form = layui.form;
            var layer = layui.layer;
            var upload = layui.upload;
           
            var uploads = upload.render({
              elem: '#myload'
              ,url: '{:url("Brand/bannerUpload")}'
              ,multiple: true
              ,number:3
              ,allDone: function(obj){ //当文件全部被提交后，才触发
                // console.log(obj.total); //得到总文件数
                // console.log(obj.successful); //请求成功的文件数
                // console.log(obj.aborted); //请求失败的文件数
              }
              ,done: function(res, index, upload){ //每个文件提交一次触发一次。详见“请求成功的回调”
              		
              		layer.msg(res.font,{icon:res.code});
              		if(res.code==1){
              			var str = '';
              			$('#logo').val($('#logo').val()+'#'+res.src)
              		}
              		
              }
            }); 

            //监听提交
            form.on('submit(*)',function(data){
                $.post(
                        "{:url('Brand/bannerAdd')}",
                        data.field,
                        function(msg){
                            layer.msg(msg.font,{icon:msg.code});
                            if(msg.code==1){
                                location.href="{:url('Brand/bannerList')}";
                            }
                        },'json'
                )
                return false;
            })
        });
    })

</script>
