<form class="layui-form">
    <input type="hidden" value="{$data.feedback_id}" id="feedback_id" name="feedback_id">
   
    <div class="layui-form-item layui-form-text">
        <label class="layui-form-label">反馈内容</label>
        <div class="layui-input-block">
            <textarea placeholder="请输入内容" name="feedback_content" class="layui-textarea" lay-verify="required">{$data.feedback_content}</textarea>
        </div>
    </div>

     <div class="layui-form-item">
        <label class="layui-form-label">反馈人</label>
        <div class="layui-input-block">
            <input type="text" name="user" value="{$data.user}"  autocomplete="off" placeholder="请输入名称" class="layui-input">
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="*">立即修改</button>
        </div>
    </div>
</form>

<!-- 示例-970 -->
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    $(function(){
        layui.use(['form','layer','upload'], function(){
            var form = layui.form;
            var layer = layui.layer;
            
            //监听提交
            form.on('submit(*)',function(data){
                $.post(
                        "{:url('Feedback/feedbackUpdate')}",
                        data.field,
                        function(msg){
                            layer.msg(msg.font,{icon:msg.code});
                            if(msg.code==1){
                                location.href="{:url('Feedback/feedbackList')}";
                            }
                        },'json'
                )
                return false;
            })
        });
    })

</script>
