<div class="layui-form-item">
    <span class="layui-breadcrumb">
        <a href='#'>系统管理</a>
        <a><cite>系统配置</cite></a>
    </span>
</div>
<form class="layui-form">
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>微信参数配置</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">APPID</label>
        <div class="layui-input-block">
            <input type="text" name="wx_appId"  value="{$config.wx_appId}" autocomplete="off"   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">SECRET</label>
        <div class="layui-input-block">
            <input type="text" name="wx_secret"  value="{$config.wx_secret}" autocomplete="off"   class="layui-input">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>小程序参数配置</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">APPID</label>
        <div class="layui-input-block">
            <input type="text" name="mini_program_appId"  value="{$config.mini_program_appId}" autocomplete="off"   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">SECRET</label>
        <div class="layui-input-block">
            <input type="text" name="mini_program_secret"  value="{$config.mini_program_secret}" autocomplete="off"   class="layui-input">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>支付参数配置</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">商户号</label>
        <div class="layui-input-block">
            <input type="text" name="mchId"  value="{$config.mchId}" autocomplete="off"   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">支付密钥</label>
        <div class="layui-input-block">
            <input type="text" name="mchId"  value="{$config.mchId}" autocomplete="off"   class="layui-input">
        </div>
    </div>
    <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
        <legend>API证书上传</legend>
    </fieldset>
    <div class="layui-form-item">
        <label class="layui-form-label">cert证书</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="apiclient_cert"><i class="layui-icon"></i>{if !empty($config["certPath"])}重新上传{else /}上传文件{/if}</button>
            <div class="layui-inline layui-word-aux">证书pem格式（apiclient_cert.pem）</div>
            <input type="hidden" name="certPath"  value="{$config.certPath}">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">key证书</label>
        <div class="layui-input-block">
            <button type="button" class="layui-btn" id="apiclient_key"><i class="layui-icon"></i>{if !empty($config["keyPath"])}重新上传{else /}上传文件{/if}</button>
            <div class="layui-inline layui-word-aux">证书密钥pem格式（apiclient_key.pem)</div>
            <input type="hidden" name="keyPath"  value="{$config.keyPath}">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="submit">确认</button>
        </div>
    </div>
</form>
<script>
    layui.use(['upload','layer','form'], function(){

        var form = layui.form;
        var upload = layui.upload;

        upload.render({
            elem: '#apiclient_key',
            url: '{:url("uploadCert")}',
            accept: 'file',
            exts:'pem',
            done: function(res){
                $("input[name='keyPath']").val(res.data.file);
                $("#apiclient_key").html('<i class="layui-icon"></i>重新上传');
                layer.msg('上传成功');
            }
        });
        upload.render({
            elem: '#apiclient_cert',
            url: '{:url("uploadCert")}',
            accept: 'file',
            exts:'pem',
            done: function(res){
                $("input[name='certPath']").val(res.data.file);
                $("#apiclient_cert").html('<i class="layui-icon"></i>重新上传');
                layer.msg('上传成功');
            }
        });
        form.on('submit(submit)',function(data){
            $.post("{:url('index')}",data.field,function(data){
                layer.msg(data.msg,{time:1000},function(){
                    if(data.code==0) {
                    }
                });
            },'json');
            return false;
        });

    });
</script>
